.tassel-loading {
    position: relative;
    .tassel-loading-bg {
        position: relative;
        width: 1rem;
        height: 1rem;
        background: url('../images/loading-progress-2.png') no-repeat center;
        background-size: 100% 100%;
        margin: 0 auto;
    }
    .tassel-ani-rotate {
        animation: tassel-rotateFrames 1s infinite linear;
    }
    .tassel-loading-fail {
        position: relative;
        width: 1rem;
        height: 1rem;
        background: url('../images/loading-fail-2.png') no-repeat center;
        background-size: 100% 100%;
        margin: 0 auto;
    }
    .tassel-description {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 0.24rem;
    }

    @keyframes tassel-rotateFrames {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
